.b-city.short
  .top
    .title
      - if city.site?
        = link_to city.uk_title, link_path(city), target: '_blank'
      - else
        = city.uk_title
    .categories
      - if city.site?
        .asset_disclosure
          - if city.asset_disclosure?
            = link_to link_disclosures_path(city), target: '_blank' do
              .dot{title: 'Финансовые декларации', class: "#{city.asset_disclosure?}"}
                декларации
          - else
            .dot{title: 'Финансовые декларации', class: "#{city.asset_disclosure?}"}
        .budget
          - if city.has_budget_url?
            = link_to link_budget_path(city), target: '_blank' do
              .dot{title: 'Бюджет', class: "#{city.has_budget_url?}"}
                бюджет
          - else
            .dot{title: 'Бюджет', class: "#{city.has_budget_url?}"}
      - else
        .asset_disclosure
          .dot.nil
        .budget
          .dot.nil
    .flex
