%section.l-main-index
  = render 'application/header'
  = render 'menu'

  %section.l-cities
    %header
      %h2
        = @region_header
    .s-cities
      = render 'regions_filter'
      %section.b-cities
        = render partial: 'city', collection: @cities

  = render 'application/footer'
