%article.l-main-index
  %header
    %h1
      Доступность
    %p
      Рейтинг общедоступности открытых данных городов Украины

  %nav.l-main-menu
    %ul
      %li
        %a{href: '/'}
          Области
      %li
        = link_to 'Города', cities_path

  %section.l-cities
    %nav.b-filter-region
      %button.filter{class: "#{filter_all_active}"}
        = link_to root_path do
          %span.label
            Все области
      = render @regions

    %section.b-cities
      = render @cities
