%section.l-main-index
  = render 'header'
  = render 'regions_filter'

  %section.l-cities.s-cities
    %section.b-datasets
      %nav
        .dataset
          = link_to 'Муниципальный сайт', local_site_datasets_path
          %span.value
            16%
        .dataset
          = link_to 'Финансовые декларации', root_path
          %span.value
            18%
        .dataset
          = link_to 'Реестр улиц', root_path
          %span.value
            46%
    %section.b-cities
      = render @cities
