%section.l-main-index
  = render 'header'
  = render 'regions_filter'

  %section.l-cities
    %header
      %h2
        = @region_header
    .s-cities
      = render 'datasets'
      %section.b-cities
        -#= render partial: 'cities/first_city', locals: { city: @first_city }
        = render @cities
