%section.l-main-index
  = render 'header'
  = render 'regions_filter'

  %section.l-cities.s-cities
    %section.b-datasets
      %nav
        .dataset{data: {category: 'local_site'}}
          = link_to 'Муниципальный сайт', root_path
          %span.value
            16%
        .dataset{data: {category: 'asset_disclosure'}}
          = link_to 'Финансовые декларации', root_path
          %span.value
            18%
        .dataset{data: {category: 'budget'}}
          = link_to 'Бюджет', root_path
          %span.value
            18%
        .dataset
          = link_to 'Бизнес лицензии', root_path
          %span.value
            18%
        .dataset
          = link_to 'Результаты выборов', root_path
          %span.value
            18%
        .dataset
          = link_to 'Жилищный фонд', root_path
          %span.value
            18%
        .dataset
          = link_to 'Адресный план', root_path
          %span.value
            18%
        .dataset
          = link_to 'Реестр улиц', root_path
          %span.value
            46%
        .dataset
          = link_to 'Криминал', root_path
          %span.value
            46%
        .dataset
          = link_to 'Земельные участки', root_path
          %span.value
            46%
        .dataset
          = link_to 'Тендерные закупки', root_path
          %span.value
            46%
        .dataset
          = link_to 'Оценка зданий, земли', root_path
          %span.value
            46%
        .dataset
          = link_to 'Комунальная собственность', root_path
          %span.value
            46%
        .dataset
          = link_to 'Инспеции продуктовых магазинов', root_path
          %span.value
            46%
        .dataset
          = link_to 'Обращения ЖКХ', root_path
          %span.value
            46%
        .dataset
          = link_to 'Транспорт', root_path
          %span.value
            46%
        .dataset
          = link_to 'Зонирование (Генплан)', root_path
          %span.value
            46%
        .dataset
          = link_to 'Веб аналитика', root_path
          %span.value
            46%

    %section.b-cities
      = render partial: 'cities/first_city', locals: { city: @first_city }
      = render @cities
