%article.l-main-index
  = render 'header'

  %section.l-stat
    %p
      = "Количество городов: #{@cities.length}"
    %p
      = "Общий рейтинг: #{@rating} баллов из #{@rating_all}"

  %section.l-cities
    %nav.b-filter-region
      %button.filter{class: "#{filter_all_active}"}
        = link_to root_path do
          %span.label
            Все области
      = render @regions

    %section.b-cities
      = render @cities
