%article.l-main-index
  = render 'header'

  %section.l-cities
    -#Фильтр по областям
    %nav.b-filter-region
      %button.filter{class: "#{filter_all_active}"}
        = link_to root_path do
          %span.label
            Все области
      = render @regions

    %nav.b-datasets
      .dataset
        = link_to 'Муниципальный сайт', local_site_datasets_path
      .dataset
        = link_to 'Финансовые декларации', root_path
      .dataset
        = link_to 'Реестр улиц', root_path

    -#Список городов
    %section.s-cities
      %section.b-cities
        = render @cities
      %section.s-current-city
        %article.a-current-city
          .title
            Донецк
          .categories
            .local_site
              .dot.true
              сайт горсовета
            .local_site
              .dot.false
              финансовые декларации
            .local_site
              .dot.true
              бюджет
