!!!
%html
  %head
    %title
      = 'UX Admin'
    = stylesheet_link_tag    'ux/application', media: 'all'
    = javascript_include_tag 'ux/application'
    = csrf_meta_tags
  %body
    = render 'ux/application/header'
    = yield
