%header.l-admin-header
  %h2
    = link_to 'Доступность', root_path
  %nav
    %ul
      %li{class: "#{current_page?('/cities') ? 'active': ''}"}
        = link_to_unless(current_page?('/cities'), 'Города', cities_path)
      %li{class: "#{current_page?('/regions') ? 'active': ''}"}
        = link_to_unless(current_page?('/regions'), 'Области', regions_path)
