%header.l-admin-header
  %h2
    = link_to 'Доступность', root_path
  %nav
    %ul
      %li{class: "#{current_page?('/admin') ? 'active': ''}"}
        = link_to_unless(current_page?('/admin'), 'Города', admin_root_path)
      %li{class: "#{current_page?('/admin/regions') ? 'active': ''}"}
        = link_to_unless(current_page?('/admin/regions'), 'Области', admin_regions_path)
