.b-city
  .rating
    = @city_rating.position_of city
  .title
    = link_to_if city.link?, city.uk_title, city.link
  .site_link
    .dot{title: 'Муниципальный сайт', class: "#{city.link?}", data: {category: 'local_site'}}
  .asset_disclosure
    = link_to city.asset_disclosure do
      .dot{title: 'Финансовые декларации', class: "#{city.asset_disclosure?}", data: {category: 'asset_disclosure'}}
  .budget
    = link_to city.budget_url do
      .dot{title: 'Бюджет', class: "#{city.budget?}"}
  .street_reestr
    .dot.false{title: 'Реестр названий улиц'}
  .street_reestr
    .dot.false{title: 'Реестр названий улиц'}
  .street_reestr
    .dot.false{title: 'Реестр названий улиц'}
  .street_reestr
    .dot.false{title: 'Реестр названий улиц'}
  .street_reestr
    .dot.false{title: 'Реестр названий улиц'}
  .street_reestr
    .dot.false{title: 'Реестр названий улиц'}
  .street_reestr
    .dot.false{title: 'Реестр названий улиц'}
  .street_reestr
    .dot.false{title: 'Реестр названий улиц'}
  .street_reestr
    .dot.false{title: 'Реестр названий улиц'}
  .street_reestr
    .dot.false{title: 'Реестр названий улиц'}
  .street_reestr
    .dot.false{title: 'Реестр названий улиц'}
  .street_reestr
    .dot.false{title: 'Реестр названий улиц'}
  .street_reestr
    .dot.false{title: 'Реестр названий улиц'}
  .street_reestr
    .dot.false{title: 'Реестр названий улиц'}
  .street_reestr
    .dot.false{title: 'Реестр названий улиц'}
  .street_reestr
    .dot.false{title: 'Реестр названий улиц'}
  .street_reestr
    .dot.false{title: 'Реестр названий улиц'}
