.b-city.full
  .top
    .rating
      = @city_rating.position_of city
    .title
      = link_to_if city.link?, city.uk_title, city.link
    .categories
      .site_link
        .dot{title: 'Муниципальный сайт', class: "#{city.link?}", data: {category: 'local_site'}}
      .asset_disclosure
        .dot{title: 'Финансовые декларации', class: "#{city.asset_disclosure?}", data: {category: 'asset_disclosure'}}
      .budget
        .dot{title: 'Бюджет', class: "#{city.budget?}"}
      .street_reestr
        .dot.false{title: 'Реестр названий улиц'}
      .street_reestr
        .dot.false{title: 'Реестр названий улиц'}
      .street_reestr
        .dot.false{title: 'Реестр названий улиц'}
      .street_reestr
        .dot.false{title: 'Реестр названий улиц'}
      .street_reestr
        .dot.false{title: 'Реестр названий улиц'}
      .street_reestr
        .dot.false{title: 'Реестр названий улиц'}
      .street_reestr
        .dot.false{title: 'Реестр названий улиц'}
      .street_reestr
        .dot.false{title: 'Реестр названий улиц'}
      .street_reestr
        .dot.false{title: 'Реестр названий улиц'}
      .street_reestr
        .dot.false{title: 'Реестр названий улиц'}
      .street_reestr
        .dot.false{title: 'Реестр названий улиц'}
      .street_reestr
        .dot.false{title: 'Реестр названий улиц'}
      .street_reestr
        .dot.false{title: 'Реестр названий улиц'}
      .street_reestr
        .dot.false{title: 'Реестр названий улиц'}
      .street_reestr
        .dot.false{title: 'Реестр названий улиц'}
      .street_reestr
        .dot.false{title: 'Реестр названий улиц'}
      .street_reestr
        .dot.false{title: 'Реестр названий улиц'}

  .categories_detail
    .local_site_url
      = link_to 'муниципальный сайт', city.link
    .asset_disclosure_url
      = city.asset_disclosure? ? link_to('финансовые декларации', city.asset_disclosure) : ''
    .budget_url
      = city.budget? ? link_to('бюджет', city.budget_url) : ''
