- page_rank = PageRankr.ranks(@city.site_url, :google)[:google]

= render partial: 'admin/header'

%article.l-city-new
  %section.l-new-city-form
    %header
      %h2
        Редактировать город
      .page-rank
        = "Google PR #{page_rank}"
      .actions
        %p
          = link_to 'Destroy',  @city,  method: :delete, data: { confirm: 'Are you sure?' }
  = render 'cities/form'
