= render partial: 'admin/header'

%article.l-cities-index
  %header
    %h1
      Города
    %p
      = "#{@cities_count} города в рейтинге"

  %section.b-cities
    = render partial: 'cities/city_admin', collection: @cities, as: :city

  %section.l-add-city
    %button
      = link_to 'Добавить город', new_city_path