%footer
  %ul.footer-nav
    %li
      = link_to "Частые вопросы", root_path
    %li
      = link_to "Условия использования", root_path
    %li
      = link_to "Персональная информация", root_path
    %li
      = link_to "Безопасность", root_path

  %article.legal
    %p
      Доступность &copy; #{Date.today.year} «ЦУПЗ»
    %p
      Название и логотип Доступности являються торговой маркой «ЦУПЗ»
